body {
    margin: 0;
    font-family: "lucida Grande";
}

a {
    text-decoration: none;
}

/* ini header */
.header {
    background-color: azure;
    background-size: 100px 0 100px 0;
    font-size: 36px;
    padding: left;
}

.header-logo {
background-color:red;
height: 90px;
}

/* ini main */
.container {
    width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.main {
    padding: 120px 0 120px 0;
    background-image: url(background.png);
    background-size: cover;
    color: aliceblue;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0,7;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.top-wrapper p {
    opacity: 0,7;
    margin-bottom: 10px;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0,7;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.signup {
    background-color: black;
}

.facebook {
    background-color: black;
    margin-right: 10px;
}

.twitter {
    background-color: black;
}

.footer{
    float: left;
}